@{
    ViewData["Title"] = "Collection";
}

@model List<Movie>

<table class="table table-bordered">

    <thead class="fw-bold">

        <tr>
            <td>movieTitle</td>
            <td>movieYear</td>
            <td>movieDirector</td>
            <td>movieRating</td>
            <td>Category</td>
        </tr>
    
    </thead>

    @foreach (var movie in Model)
    {
        <tbody>
            <tr>
                <td>@movie.MovieId</td>
                <td>@movie.Title</td>
                <td>@movie.Year</td>
                <td>@movie.Director</td>
                <td>@movie.Rating</td>
                <td>@movie.Category.CategoryName</td>

                <td><a class="btn btn-info" asp-controller="Home" asp-action="Edit" asp-route-id="@movie.MovieId">Edit</a></td>
                <td><a class="btn btn-danger">Delete</a></td>
            </tr>
        </tbody>
    }

</table>